/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1615859131861-052f0641a60e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80');
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos del contenedor */
.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 400px;
}

/* Estilos del botón */
button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilos del título */
h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

/* Estilos del chiste */
#joke {
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.weather {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    color: white
}
